---
- name: Install Tomcat-9
  become: yes
  hosts: app_server
  vars:
    tomcat_user: tomcat
    tomcat_home_directory: /opt/tomcat
    tomcat_shell_directory: /bin/false
  tasks:
    - name: Install Java 11
      ansible.builtin.package:
        name: openjdk-11-jdk
        update_cache: yes
        state: present
    - name: Create Tomcat User
      ansible.builtin.user:
        name: "{{ tomcat_user }}"
        home: "{{ tomcat_home_directory }}"
        shell: "{{ tomcat_shell_directory }}"
        
