---
- name: Install Tomcat-9
  become: yes
  hosts: app_server
  vars:
    tomcat_user: tomcat
    tomcat_home_directory: /opt/tomcat
    tomcat_shell_directory: /bin/false
    tomcat_url: https://dlcdn.apache.org/tomcat/tomcat-9/v9.0.65/bin/apache-tomcat-9.0.65.tar.gz
  tasks:
    - name: Install Java 11
      ansible.builtin.package:
        name: openjdk-11-jdk
        update_cache: yes
        state: present
    - name: Create Tomcat User
      ansible.builtin.user:
        name: "{{ tomcat_user }}"
        home: "{{ tomcat_home_directory }}"
        shell: "{{ tomcat_shell_directory }}"
    - name: Download Tomcat 9
      ansible.builtin.get_url:
        dest: /tmp
        url: "{{ tomcat_url }}"
    - name: UnZip Tomcat .tar.gz file
      ansible.builtin.unarchive:
        src: /tmp/apache-tomcat-9.0.65.tar.gz
        dest: "{{ tomcat_home_directory }}"
        remote_src: yes
    - name: Create Symbolic link
      ansible.builtin.file:
        src: "{{ tomcat_home_directory }}/apache-tomcat-9.0.65"
        dest: "{{ tomcat_home_directory }}/latest"
        owner: "{{ tomcat_user }}"
        group: "{{ tomcat_user }}"
        state: link  



        
