---
- name: Install nop-commerce
  become: yes
  hosts: test
  vars:
  tasks:    
    - name: Download and Install Microsoft Package
      ansible.builtin.apt:
        deb: https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
        update_cache: yes
        state: present
    - name: Install .NET Core Runtime
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - aspnetcore-runtime-6.0
        update_cache: yes
        state: present
    - name: Install Required Packages (my-sql,nginx,unzip)
      ansible.builtin.package:
       name:
        - mysql-server
        - nginx
        - unzip

    - name: Start Nginx Server
      ansible.builtin.systemd:
       name: nginx
       state: stopped
       enabled: yes

    - name: Copy nginx Default Service file
      ansible.builtin.copy:
        src: nginx-default-conf
        dest: /etc/nginx/sites-available/default

    - name: Create nopCommerce450 Directory
      ansible.builtin.file:
        path: /var/www/nopCommerce450
        state: directory

    - name: Unarchive a file that needs to be downloaded (added in 2.0)
      ansible.builtin.unarchive:
        src: https://github.com/nopSolutions/nopCommerce/releases/download/release-4.50.3/nopCommerce_4.50.3_NoSource_linux_x64.zip
        dest: /var/www/nopCommerce450
        remote_src: yes

    - name: Create bin and log directory in nopCommerce450 directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      loop: 
        - /var/www/nopCommerce450/bin
        - /var/www/nopCommerce450/logs

    - name: Change Permissions Reccursively
      ansible.builtin.file:
        path: /var/www/nopCommerce450/
        group: www-data
        owner: www-data
        mode: 777
        recurse: no
    
    - name: Copy nopCommerce Service File
      ansible.builtin.copy:
        src: nopCommerce450.service
        dest: /etc/systemd/system/nopCommerce450.service

    - name: Start nopCommerce450 Service
      ansible.builtin.systemd:
        name: nopCommerce450.service
        # enabled: yes
        state: started

    # - name: Start Nginx Server
    #   ansible.builtin.systemd:
    #    name: nginx
    #    state: restarted