---
- name: Install nop-commerce
  become: yes
  hosts: app_server
  vars:
  tasks:
    - name: Download Microsoft Package
      ansible.builtin.get_url:
        url: https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
        dest: /home/node2/
    # - name: Install Microsoft Package
    #   ansible.builtin.apt:
    #     name: packages-microsoft-prod.deb
    #     dpkg_options: 'force-confold,force-confdef'
    
    - name: Allow python to be upgraded
      ansible.builtin.dpkg_selections:
        name: /home/node2/packages-microsoft-prod.deb
        selection: install

