---
- name: Install nop-commerce
  become: yes
  hosts: app_server
  vars:
  tasks:    
    - name: Download and Install Microsoft Package
      ansible.builtin.apt:
        deb: https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
        update_cache: yes
        state: present
    - name: Install .NET Core Runtime
      ansible.builtin.apt:
        name:
          - apt-transport-https
          - aspnetcore-runtime-6.0
        update_cache: yes
        state: present
    - name: Install Required Packages (my-sql,nginx,unzip)
      ansible.builtin.package:
       name:
        - mysql-server
        - nginx
        - unzip
    - name: Start Nginx Server
      ansible.builtin.systemd:
       name: nginx
       state: started
       enabled: yes
    - name: Copy nginx Default Service file
      ansible.builtin.copy:
        src: nginx-default-conf
        dest: /etc/nginx/sites-available/default
    - name: Create nopCommerce450 Directory
      ansible.builtin.file:
        path: /var/www/nopCommerce450
        state: directory

    - name: Unarchive a file that needs to be downloaded (added in 2.0)
      ansible.builtin.unarchive:
        src: https://github.com/nopSolutions/nopCommerce/releases/download/release-4.50.3/nopCommerce_4.50.3_NoSource_linux_x64.zip
        dest: /var/www/nopCommerce450
        remote_src: yes

